.footer {
    background-color: #05445E;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100vw;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.social-icons a {
    color: #fff;
    margin-left: 10px;
}

.social-icons a:hover {
    color: #75E6DA;
}

@media screen and (max-width: 760px) {
  .footer{
    position: relative;
    overflow: hidden;
    bottom: 0px;
    width: 150vw;
    padding: 3vh;
  }
    }
  
   @media only screen and (max-width: 240px) and (max-height: 320px) {
     .footer{
        width:200vw;
     }
    }