.userAvatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid lightblue;
    object-fit: cover;
    align-self: center;
    overflow: hidden;
}

.profile-tab {
    position: relative;
    left: 28vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    color: gray;
    font-weight: 600;
    font-size: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username, #email, #password {
 border: 2px solid black;
 border-radius: 5px;
}

.profile-input {
    width: 100%;
    padding: 5px;
    margin: 8px;
}
#profile-button {
    background-color: gray;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    transition: 0.2s;
}

#profile-button:hover {
    color: white;
    background-color: lightblue;
    transition: 0.4s;
  }

#create-button {
    background-color: #05445E;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    transition: 0.2s;
}

#create-button button {
    background-color: #05445E;
    width: 100%;
    border-radius: 5px;
    transition: 0.1s;
}

.del-out {
    margin-top: 5px;
    text-align: center;
    color: red;
    display: flex;
   align-items: space-between;
}

.delete-button{
    position: relative;
    left: -24px;
    &:hover{
         color: black;
        transition: 0.2s;
    }
}
.out-button{
    position: relative;
    right: -24px;
    &:hover{
        color: black;
        transition: 0.2s;
    }
}

.imageDiv {
    position: relative;
}